@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype');
}

@media only screen and (min-width: 35em) {
}

html {
    font-family: 'Lato', 'serif', 'Comic Sans MS';
    text-align: center;
}

.logo {
    display: block;
    float: left;
    width: fit-content;
}

.links {
    background-image:url("background-379775-grey-texture.jpg");
    background-repeat: repeat;
    display: inline-block;
    width: 90%;
    padding: 1%;
    text-align: right;
}

body {
    background-image:url("background-379775-grey-texture.jpg");
    background-repeat: repeat;
    padding: 1%;
    align-content: center;
    color: white;
    font-size: 2em;
}

a {
    color: white;
    text-decoration: none;
}
a:visited {
    color:white;
}
a:hover {
    color:gray;
}
h1  {
    color: saddlebrown;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, Arial, Helvetica, serif;
  }

.main_text {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

h2  {
    color: saddlebrown;
    margin-bottom: 0.3em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-left: auto;
    margin-right: auto;
}

.container {
    background: #363636;
    padding: 2.1%;
    width: 28%;
    margin: 0.5%;
    float: left;
    text-align: center;
}

.mapouter {
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
}


