@font-face {
    font-family: Lato;
    src: url("Lato-Regular.ttf")format("truetype");
}

@media screen {
    
}

html {
    font-family: Lato, serif;
}

nav {
    background-image:url("background-379775-grey-texture.jpg");
    background-repeat: repeat;
    padding: 10px;
    text-align: right;
}

body {
    background-image:url("background-379775-grey-texture.jpg");
    background-repeat: repeat;
    padding: 25px;
    align-content: center;
    color: white;
    font-size: 25px;
}

a {
    color: white;
    text-decoration: none;
}
a:visited {
    color:white;
}
a:hover {
    color:gray;
}
h1  {
    color: saddlebrown;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
  }

.main_text {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

h2  {
    color: saddlebrown;
    margin-bottom: 0.3em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }

img1 {

    align-content: center;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.container {
    background: grey;
    padding: 10px;
    width: 28%;
    margin: 10px;
    float: left;
    text-align: center;
}

.mapouter {
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

p {
    text-align: center;
}



